// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $bg1 :rgba(51, 128, 118, 0.818);
$bg1 :rgb(28 79 117 / 90%)

